/* Extra Small (xs) */
@media (max-width: 575.98px) {
html{font-size: 6px;}

.header-sec{
    height: 7.5rem;
    width: 100%;
}
.mypic{
    margin: 2rem 0;
    height: 5rem;
width: 5rem;
border-radius: 50%;
}
.container-fluid{
    width: 100%;
    flex-direction: row  !important;
}
.navbar-brand{
    flex-direction: row !important;
}
.navbar-toggler{
    margin-top: -2.5rem;
    margin-left: 30rem;
    background-color: white;
}
/* hastaagg section  */
#home{margin-top: -5rem;}
#works{margin-top: -24rem;}



/* hastaagg section  */

.c9{
    margin-top: -10rem;
width: 100% !important;
}
.mypic{
    margin: 2.5rem 0;
    margin-top: -.2rem;
    margin-right: 1.5rem;
    height: 5rem;
width: 5rem;
border-radius: 50%;
}
.logo-text{
    margin-top: 2rem;
    font-size: 2.5rem;
}

.logo-tex{
    margin: 1.5rem !important;
}
.navbar-nav{
    flex-direction: row !important;
}
/* .m-t{flex-direction: column;} */
.project-img{
    width:15rem;
    border-radius: .8rem;
}
.work-card{
 height: 27.5rem;
 width: 60%;
background-color: red;
text-align: center;
border-radius: .8rem;
border: .2px solid black;
padding: .5rem;
}
.w-c{
}
S


    /* Your CSS styles for extra small screens */
  }
  
  /* Small (sm) */
  /* Small (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {

    html{font-size: 8px;}

    .header-sec{
        height: 7.5rem;
        width: 100%;
    }
    .mypic{
        margin: 2rem 0;
        height: 5rem;
    width: 5rem;
    border-radius: 50%;
    }
    .container-fluid{
        width: 100%;
        flex-direction: row  !important;
    }
    .navbar-brand{
        flex-direction: row !important;
    }
    .navbar-toggler{
        margin-top: -2.5rem;
        margin-left: 1rem;
        background-color: white;
    }
    .mypic{
        margin: 2.5rem 0;
        margin-top: -.2rem;
        margin-right: 1.5rem;
        height: 5rem;
    width: 5rem;
    border-radius: 50%;
    }
    .logo-text{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    
    h2{
        margin-right: 30rem;

    }
    .navbar-nav{
        flex-direction: row !important;
    }

    .m-t{flex-direction: column;}
.work-card{
    height: 30rem;
    width: 50%;
background-color: red;
text-align: center;
border-radius: .8rem;
border: .2px solid black;
padding: .5rem;
}
    /* Your CSS styles for small screens */
  }



  /* Medium (md) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    html{font-size: 8px;}
    .header-sec{
        height: 7.5rem;
        width: 90rem;
         border-radius: 1rem;
         margin-top: 1rem;
    }
    .mypic{
        margin: 2rem 0;
        height: 5rem;
    width: 5rem;
    border-radius: 50%;
   
    }
    .container-fluid{
        width: 100%;
        flex-direction: row  !important;
    }
    .navbar-brand{
        flex-direction: row !important;
        margin-right: 70rem;
    }
    .navbar-toggler{
        margin-top: -2.5rem;
        margin-left: -20rem;
        background-color: white;
    }
    .mypic{
        margin: 2.5rem 0;
        margin-top: -.2rem;
        margin-right: 1.5rem;
        height: 5rem;
    width: 5rem;
    border-radius: 50%;
    }
    .logo-text{
        margin-top: 2rem;
        font-size: 2.5rem;
 margin-right: 40rem !important;

    }
    
    .logo-tex{
        margin: 1.5rem !important;
    }
    .navbar-nav{
        flex-direction: row !important;
   
    }
.c9{
width: 100% !important;
}

    .work-card{
        height: 30rem;
        width: 40%;
    background-color: red;
    text-align: center;
    border-radius: .8rem;
    border: .2px solid black;
    padding: .5rem;
    }

    
    /* Your CSS styles for medium screens */
  }
