
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.full-section{
    width: 100%;
 
}


.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}







/* for desktop  */
@media screen and (min-width:992px) {
    .full-section{
        width: 100%;
        background-color: darkseagreen;
    }
.header-cs{
position: fixed;
background-image: url(./img/programming.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.nav-manu{
    height: 100vh;
}
.logo-text{
    margin-top: 10px;
    font-size: 30px;
}
.logo img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    margin-top: 30px;
}
.clr{
    background-color: #aec3aed5;
}
.nav-li{
    margin-top: 20px;
    border: .6px solid black;
   border-radius: 7px;
}

/* content section s */

/* home section  */

.home-h-text{
    font-size: 50px;
    font-weight: bolder;
    color:#252B48;
}
    
.ht-m{color: green;}
.ht-e{color: orange;}
.ht-r{color: rgb(28, 255, 236);}
.ht-n{color: greenyellow;}
.ht-st{color: #F8FF95;}

.home-p-text{
    font-size: 22px;
    color: #FFFFDD;
}



.home-div{
    margin: 0px 0px 0px 10px;
    height: 100vh;
    width: 100%;
    position: relative;
}
.home-btn{
    border-radius: 8px;
    height: 45px;
    width: 170px;
    background-color: rgb(224, 224, 114);
    color: #102C57;
    transition: .8s;
}
.home-btn:hover{
    color: white;
    background-color: transparent;
    box-shadow: 3px 3px 2px rgba(255, 255, 255, 0.26), -3px -3px 2px rgba(255, 255, 255, 0.26);

}
.home-btn2{
    color: white;
    border: none;
    border-radius: 8px;
    height: 45px;
    width: 170px;
    background-color: transparent
}
.home-ani-div{
    position: absolute;
    margin-top: 600px;
animation: home-sec-ani 3.5s 1 .2s forwards;
}

@keyframes home-sec-ani { to{margin-top: 0;}}


/* scrool animation code  */
/* styles.css */
.scroll-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate-me {
    opacity: 0;
    margin-top: 500px; /* Start with a margin-top of 500px */
    transition: opacity 1.5s, margin-top 2s; /* Transition the margin-top property */
}

.animate-me.animate {
    opacity: 1;
    margin-top: 0; /* Move the element to a margin-top of 0px */
}


/* scrool animation code  */

/* card section start here  */
.wor-top-text{
    color: #5C4B99 ;
    text-decoration: underline;
}

.c-card{
    height: 400px;
    width: 300px;
    background-color: #B9B4C7;
    border-radius: 10px;
    box-shadow:8px 8px 5px #fffbe91a, -8px -8px 5px #fffbe91a;
    transition: .7s;
}
.c-card:hover{
    height: 420px;
    width: 320px;
   
    box-shadow:12px 12px 5px #fffbe91a, -12px -12px 5px #fffbe91a;
}
.c-card img{
    margin-top: 10px;
    height: 150px;
    width:300px;
    border-radius: 10px;
}
.c-card h3{
    margin: 20px 0 0 10px;
}
.c-card h3 a{
    font-size: 35px;
    color: #40F8FF;
    
text-decoration: none;
}
.c-card p{
    margin: 12px 0 12px 5px;
    font-size: 17px;
}
.card-btn{
margin: 10px 0 0 5px;
height: 40px;
width: 150px;
background-color: transparent;
border: 1px solid tomato;
border-radius: 10px;
}
.Pending h1 {
    color: #A8DF8E;
    font-size: 60px;
}
/* abuout section sart  herre  */


.about-heading{
    text-decoration: underline;
}
.ab-txt{
    padding-bottom: 5px;
    color: chocolate;
}
.contact-clr{
    color: #609966;
    text-decoration: underline;
}
.a-card{
    margin-top: 20px;
    padding: 10px;
    height: 200px;
    width: 400px;
    background-color: #aed2ff80;
    border-radius: 12px;
transition: 2s;
    box-shadow: 8px 8px 3px rgba(224, 255, 255, 0.288), -8px -8px 3px rgba(224, 255, 255, 0.288);
}
.a-card:hover{
    margin: 25px;
    height: 220px;
    width: 420px;
    padding: 0;}

/* contact section start here  */

.form-div{
    text-align: center;
    height: 330px;
    width: 500px;
    background: #AED2FF;
    border-radius: 10px;
}

#name{      height: 40px;
     margin-top: 20px;
    width: 48%;
    border-radius: 8px;
}
#email{ height: 40px;
    margin-top: 20px;
    width: 48%;
    border-radius: 8px;
}
#subject{
    height: 40px;
margin: 10px 0;
    width: 96%;
    border-radius: 8px;
}
#text-area{
    height: 150px;
    width:96%;
    resize: none;
    border-radius: 8px;
}
.form-btn{
height: 40px;
width: 120px;
background-color: #AEC3AE;
border-radius: 10px;
}

/* social midia section start here  */

.social-midia{
  margin: -95px 0 0 20px;
    height: 50px;
    width: 300px;
    background-color: #dae2b677;
    border-radius: 7px;
}

.social-midia img{
    height: 35px;
    width: 35px;
}














}
