*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*----------------
 re useble codes 
------------------ */
:root{
    --bg-color:darkseagreen;
    --black-color:#000000;
    --white-color:white;
    --heading-color:#252B48;
}
html{font-size: 10px;}

li{list-style: none;}
a{text-decoration: none; color: var(--black-color);}
h1{color: var(--heading-color);}

/* mern stuck color  */
.m{color: green;}
.e{color: orange;}
.r{color: rgb(28, 255, 236);}
.n{color: greenyellow;}
/* mern stuck color  */

/*-------------------------- 
main code start here 
---------------------------- */
.header-sec{
    height: 64.3rem;
    /* background-color:red; */
}
.div-manupu{ 
    height: 7.5rem;
}
.mypic{
    margin: 2.5rem 0;
    height: 12.5rem;
width: 12.5rem;
border-radius: 50%;
}
.logo-text{
    font-size: 2.5rem;
}
.nav-item{
    margin: 1rem;
    
}
.nav-link{
  font-size: 2rem;
    
}

    